<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <title>BT1 VueJS</title>
</head>

<body>
    <div class="main" id="app">
        <button class="app__close"><img src="./assets/icon/times.svg"></button>
        <h4 class="form__heading">Add New Facebook Pixel</h4>
        <div class="form__tab">
            <label for="auto-input" class="form__tab-tag" :class="{ active: currentTab == 1 }">
                <input type="radio" id="auto-input" value="1" v-model="currentTab">
                <span>Auto input pixel</span>
            </label>
            <label for="manual-input" class="form__tab-tag" :class="{ active: currentTab == 2 }">
                <input type="radio" id="manual-input" value="2" v-model="currentTab">
                <span>Manual input pixel</span>
            </label>
        </div>
        <form action="" class="form__group" @submit.prevent="onSubmit">

            <!-- Tab: Auto input pixel -->
            <div class="form__auto" v-if="currentTab == 1">
                <div class="form__auto-account">
                    <div class="form__auto-account-user">
                        <div class="form__auto-account-group">
                            <img src="./assets/img/avatar.png" alt="Avatar" class="form__auto-account-user-avatar">
                            <img src="./assets/icon/facebook.svg" class="form__auto-account-user-fb">
                        </div>
                        <p class="form__auto-account-name">
                            Lotusprayer Store
                            <span>
                                <img src="./assets/icon/check.svg">
                                Connected
                            </span>
                        </p>
                    </div>
                    <button class="form__auto-account-btn">Change Account</button>
                </div>
                <p class="form__tag">Select Business Account</p>
                <select class="form__input" v-model="businessAccountId" required>
                    <option value="" disabled selected>Select your business account</option>
                    <option v-for="businessAccount in listBusinessAccount" :value="businessAccount.id">
                        {{ businessAccount.id }} - {{ businessAccount.name }}
                    </option>
                </select>
                <p class="form__tag">Select Pixel</p>
                <select class="form__input" :disabled="!businessAccountId" required>
                    <option value="" disabled selected>Select your pixel</option>
                    <option v-for="pixel in filterPixel" :value="pixel.id">
                        {{ pixel.name }}
                    </option>
                </select>
                <div class="form__auto-missing-pixel" v-show="businessAccountId && filterPixel.length == 0">
                    <img src="./assets/icon/close.svg" class="form__auto-missing-pixel-close">
                    <p class="form__auto-missing-pixel-title">Missing pixel</p>
                    <p class="form__auto-missing-pixel-description">
                        You don’t have any Facebook Pixels in this Business Account. Change Business Account or <a
                            href="#">Create New Facebook Pixel</a> first.
                    </p>
                </div>
            </div>

            <!-- Tab: Manual input pixel -->
            <div class="form__manual" v-else>
                <p class="form__tag">Name this pixel</p>
                <input type="text" placeholder="Input your pixel name" class="form__input" v-model="pixelName" :class="{ 'error-border' : validatePixelName == true }" required>
                <p v-show="validatePixelName" class="error-message">Please fill letter only</p>
                <p class="form__tag">Enter Facebook Pixel ID</p>
                <input type="number" placeholder="Input your pixel id" class="form__input" pattern="[0-9]" min="1" required>
            </div>

            <p class="form__tag">Target</p>
            <select name="" id="" class="form__input">
                <option value="Entire page">Entire page</option>
            </select>
            <div class="form__conversion-api">
                <div class="form__conversion-api-checked">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <p class="form__conversion-api-title">Conversion API</p>
                <p class="form__conversion-api-description">
                    Facebook conversions API will help you collect accurate data and improve the performance of your
                    Facebook ads in a post-iOS 14 update world. <a href="#">Learn more</a>
                </p>
            </div>
            <div class="form__notification">
                <div class="form__notification-icon" v-if="currentTab == 1">
                    <img src="./assets/icon/bell.svg">
                </div>
                <div class="form__notification-icon" v-else>
                    <img src="./assets/icon/crown.svg">
                </div>
                <p class="form__notification-text">Please <span>UPGRADE</span> your plan to use Conversion API</p>
            </div>

            <div class="form__btn">
                <button type="reset" class="form__btn-cancel">Cancel</button>
                <button type="submit" class="form__btn-save">Save</button>
            </div>
        </form>
        <div class="form__line-bottom"></div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./assets/js/app.js"></script>
</body>

</html>